.addPerson {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addPerson .responseBox {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    padding: 1rem;
    text-align: center;
}

.addPerson .responseBox h2{
    font-size: 2rem;
}

.addPerson .responseBox p{
    font-size: 1.5rem;
}

.redBorder {
    border-color: rgb(190, 43, 43);
}

.greenBorder {
    border-color: rgb(31, 163, 38);
}