section{
    justify-content: center;
    border: solid green;
}
#people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 30px;
}
.person img{
    max-width: 50%;
    max-height: 50%;
}
.person{
    /* flex: 33%; */
    flex-basis: 33%;
}