.projectsHolder{
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin-top: 1%;
    margin-bottom: 10%;
}

@media screen {
    .projectsHolder {
        max-width: 100%;
    }
}