.projectDiv{
    margin-top: 3%;
    padding: 1%;
    background-color: rgb(255, 255, 255);
}

.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float: right;
    margin-left: 1rem;
}

.projectDiv img{
    width: 40%;
}

@media screen and (max-width: 600px){
    .projectDiv img {
        object-fit: cover;
    }
}

.projectTexts h1{
    text-align: left;
}

.projectDiv hr {
    background-color: #42DB47;
    border: 0.1em solid #B4C6DB;
    border-radius: 100px;
    /* color: #3D8ADB; */
}

.btn {
    transition-duration: 0.4s;
    transition-property: all;

    margin: 1%;
    background-color: #4485CF;
    padding: 1%;
    font-size: large;
}

.btn:hover {
    background-color: #1E6EC9;
}