#header {
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100vw;
}

.headerWrapper {
    display: flex;
    height: var(--header-height);
    background-color: #1D3857;
}

.headerImage {
    display: flex;
    justify-content: space-between;
}

.headerImage img {
    width: fit-content;
    height: var(--header-height);
}

.navBar {
    width: 100%;
    display: flex;
    height: var(--header-height);
    justify-content: center;
    align-items: center;
}

#header a {
    text-decoration: inherit;
    text-align: center;
    max-height: var(--header-height);
    text-wrap: nowrap;
}

.navButton {
    color: white;
    background-color: #1D3857;
    transition-duration: 0.25s;
    transition-property: all;
    width: 100%;
    height: var(--header-height);

    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}

.navButton:hover:not(.active) {
    background-color: #8F95A3;
}

.navButton.active {
    background-color: #6E7687;
}

.navLogoButton {
    background-color: inherit;
}

.headerWrapper .menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 2.5rem;
    height: 2rem;
    margin-right: 2rem;
}

.headerWrapper .menu span{
    height: 0.4rem;
    width: 100%;
    border-radius: 0.2rem;
    background-color: #8F95A3;
}

@media screen and (max-width: 1100px){
    .headerWrapper {
        flex-direction: column;
        height: fit-content;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .navBar:not(.open) {
        display: none;
    }

    .navButton {
        width: min-content;
    }

    .headerWrapper .menu {
        display: flex;
    }
}

/* #przyciski button{
    width: 100%;
    background-color: rgba(0, 0, 0, alpha);
    border-width: 0;
    color: white;
    font-size: larger;
} */