.footer {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
}

.footer a {
    color: white;
    text-decoration: inherit;
    text-align: center;
    max-height: 80px;
    text-wrap: nowrap;
}

.footerSiteName {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: white;
}

.footerLogoImage {
    width: min-content;
    height: 80px;
    object-fit: contain;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    color: white;
}

.footerOtherLogos {
    display: flex;
    gap: 20px;
}

.footerLink {
    font-size: larger;
}