.newsHolder{
    display: flex;
    flex-direction: column;
    max-width: 66%;
    /* gap: 3%; */
    margin-top: 1%;
    margin-bottom: 10%;
}

@media screen and (max-width: 800px){
    .newsHolder {
        max-width: 100%;
    }
}