.projectDiv{
    /* border: solid black 2px; */
    /* margin: auto; */
    /* box-sizing: content-box; */
    /* width: fit-content; */
    /* height: fit-content; */
    flex-basis: 1%;
    margin: auto;
}
.projectTexts{
    margin: 1%;
}
.projectDiv img{
    float: left;
    width: 30%;
    margin-right: 1rem;
    /* max-height: 10rem; */
    /* max-height: 100%; */
}

.projectTexts h1{
    text-align: center;
}
.projectTexts p{

}