.hiddenPhoto {
    display: none;
}

.photoGalleryWrapper {
    text-align: center;
    margin-top: 5%;
}

.photoGalleryBox {
    display: flex;
    height: calc(var(--photo-height) * 2);
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;
    --photo-height: 200px;
    --photo-width: 300px;
}

@media screen and (max-width: 700px) {
    .photoGalleryBox {
        --photo-height: 200px;
        --photo-width: 200px;
    }
}

.greyWrapper {
    margin: 0px;
    padding: 0px;
    height: 200px;
    width: fit-content;   
    position: relative; 
}

.galleryTextWrapper {
    position: absolute;
    color: white;
    opacity: 0.9;
    top: 0;
    height: var(--photo-height);
    width: var(--photo-width);
}

.galleryTextWrapper.lastPhoto {
    display: block;
    background-color: #00000096;
}

.galleryTextWrapper:hover {
    display: block;
    background-color: #00000056;
    cursor:pointer;
}

.galleryTextWrapper.lastPhoto:hover {
    display: block;
    background-color: #000000bd;
    cursor:pointer;
}

.galleryImage {
    height: var(--photo-height);
    width: var(--photo-width);
    object-fit: cover;
}

.morePhotosDisplay {
    position: absolute;
    display: none;
}

.lastPhotoText {
    font-size: 5rem;
    bottom: 6%;
    left: 25%;
    display: inherit;
    opacity: 1.0;
    text-align: center;
}