.ppHolder {
    display: flex;
    flex-direction: column;
}

.ppDiv{
    height: 100%;
}

.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float: right;
    margin-left: 1rem;
}

.ppDiv img{
    width: 100%;
    margin-top: 1rem;
    /* object-fit: cover;
    max-height: 9rem; */
}

.ppImageBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    width: 40%;
    height: 100%;
}

.ppDescription {
    font-size: large;
    line-height: 25px;
    text-align: justify;
}

.ppDescription::first-letter {
    margin-left: 20px;
    font-size: x-large;
    font-weight: 600;
}

.ppImageBox p {
    margin-top: 0.33rem;
}

@media screen and (max-width: 800px){
    .projectDiv img {
        width: 100%;
        object-fit: cover;
    }
}