.singlePost {
    width: 70%;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px){
    .singlePost{
        width: 90%;
    }
}

.singlePostWrapper {
    padding: 20px;
}

.singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    margin: 10px;
    text-align: center;
}

.singlePostInfo {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    margin-bottom: 20px;
    color: #474747;
}

.singlePostDesc {
    font-size: large;
    line-height: 25px;
    text-align: center;
}

.singlePostCoop {
    font-size: x-large;
    line-height: 25px;
    text-align: center;
}

.singlePostThanks h2 {
    text-align: center;
}
