.singlePost {
    flex: 0.9; 
    /* lol */
}

.singlePostWrapper {
    padding: 20px;
}

.singlePostImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    margin: 10px;
    text-align: center;
}

.singlePostInfo {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    margin-bottom: 20px;
    color: #4E6CED;
}

.singlePostDesc {
    font-size: large;
    line-height: 25px;
}

.singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: x-large;
    font-weight: 600;
}